<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - Forest Fire Prediction</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/material-icon/css/material-design-iconic-font.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/jquery-ui/jquery-ui.min.css')}}">

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css')}}"> -->
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header>
        <div class="home"><a href="/">Home</a></div>
        <div class="aboutus"><a href="/about">About</a></div>
        <div class="model"><a href="/model-input">Go to Project</a></div>
        <div class="login"><a href="/login">Login</a></div>
        <div class="signup"><a href="/signup">Sign Up</a></div>
    </header>
    <section id="about">
        <div class="content">
            <h2>Forest Fire Prediction</h2>
            <div class="hr"></div>
            <div class="inside">
                <h4>Predict forest fires with a high accuracy.</h4>
                <h4><a href="/model-input">Predict</a></h4>
            </div>
        </div>
    </section>
</body>
</html>