<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login Required</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/material-icon/css/material-design-iconic-font.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/jquery-ui/jquery-ui.min.css')}}">

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename= 'css/nologin.css')}}"> -->
    <link rel="stylesheet" href="../static/css/nologin.css">
</head>
<body>
    <h3>You are already logged in. You can <a href="/model-input">go to the project</a>.</h3>
</body>
</html>