<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Output - Forest Fire Prediction</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/material-icon/css/material-design-iconic-font.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/jquery-ui/jquery-ui.min.css')}}">

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename= 'css/output.css')}}"> -->
    <link rel="stylesheet" href="../static/css/output.css">
</head>
<body>
    <header>
        <div class="home"><a href="/">Home</a></div>
        <div class="aboutus"><a href="/about">About</a></div>
        <div class="model"><a href="/model-input">Go to Project</a></div>
        <div class="login"><a href="/login">Login</a></div>
        <div class="signup"><a href="/signup">Sign Up</a></div>
    </header>
    <section id="about">
        <h1>{{prediction_text}}</h1>
        <br>
        <h4>However, your forest is safe, but you must frequently monitor the FWI and other fire related indices.</h4>
    </section>
</body>
</html>